{% extends 'base.html' %}

{% block content %}
<style type="text/css">
		h1, h2 {
		  text-align: center;
		}
        img{
        margin = 0
        }
</style>
<div class="alert alert-success" role="alert">
    <h1> Thank you for your purchase! </h1>
    <h2> Order information has been sent to your email. Please check again !</h2>
</div>
<center>
    <img class="img" width="500" height="500" src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/356380832_828127388655223_299679333132300306_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=T3Xq7rIQQp4AX8ym0dO&_nc_ht=scontent.fhan14-1.fna&oh=00_AfA0qD8nCDDTNJc4_fwOF26Gk6SPJZg1ay-T1d24GjAr6g&oe=652FBED1" />
</center>

{% endblock %}